body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:14px "microsoft yahei","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#444444;text-decoration:none} 
/*a:hover{color:#cd0200;text-decoration:underline} */
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 


.clearfix:before,
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.qw-center{
	width: 1100px;
	margin:  0 auto;
}

.left{
	float: left;
}
.right{
	float: right;
}
.hide{
    display: none;
}
.line{
    height: 4px;
    background: url(http://www.iqiaowai.com/templets/new/cty_usa/images/line.png) repeat-x;
    margin-bottom: 15px;
}
.left-box{
    width: 837px;
    float: left;
}
.right-box{
    width: 260px;
    float: right;
}
span[id^="cnzz"] {
    display: none;
}