.clearfix:before,.clearfix:after{content:"";height:0;line-height: 0;display: block;clear: both;visibility: hidden;}
.clearfix{zoom:1;}
body{
	background: #e6e6e6;
}
a{
	color: #444;
}
p{
	margin: 0;
	color: #444;
	font-family: "微软雅黑";    
	text-align: left;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.mui-popover .mui-popover-arrow:after{
	background: #D7000F;
	border-radius: 2px;
}
.mui-slider-indicator .mui-active.mui-indicator{
	background: #d7000f;
}

.mui-table-view-cell>a:not(.mui-btn) {
    position: relative;
    display: block;
    overflow: hidden;
    margin: -11px -15px;
    padding: inherit;
    white-space: normal;
    text-overflow: ellipsis;
    color: inherit;
}
.mui-table-view-cell:after{
	height: .04rem;
	background: #e6e6e6;
	left: 0;
}
.mui-table-view:after{
	height: 0;
}
.mui-table-view-cell{
	padding: .16rem .2rem;
}
.mui-bar-nav~.mui-content{
	padding-top: 0;
	padding-bottom: 1.08rem;
}


.m-qw-title-box{
	position: relative;
}
.m-qw-title-box .more{
	color: #d7000f;
	font-size: .24rem;
	line-height: .55rem;
	position: absolute;
	right: .15rem;
	top: 0;
}
.m-qw-title{
	line-height: .55rem;
	font-size: .26rem;
	padding-left: .5rem;
	font-weight: normal;
	position: relative;
	background: #fff;
}
.m-qw-title i{
	width: .3rem;
	height: .36rem;
	position: absolute;
	left: .15rem;
	top: .08rem;
}
/*头部*/
header.mui-bar-nav{
	box-shadow: none;
	-webkit-box-shadow: none;
}
header.mui-bar{
	height: .82rem;
	padding-left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 999;
}
header.mui-bar img{
	height: 100%;
	
}
header.mui-bar-nav.mui-bar .mui-icon{
	color: #fff;
}
header .index-header-menu{
	width: 1.51rem;
	background: #d7000f;
	position: absolute;
	top: .88rem;
	right: 0;
	color: #fff;
	padding: .2rem 0.1rem;
	border-radius: 2px;
}
header .index-header-menu img{
	width: .75rem;
	display: block;
	margin: 0 auto;
}
header .index-header-menu a p{
	color: #fff;
	text-align: center;
	font-size: .28rem;
	line-height: .6rem;
}
header .index-header-menu i{
	height: 1px;
	background: #6c6c6c;
	margin: .1rem 0;
	display: block;
}
/*首页导航*/
.m-qw-nav{
	padding: .35rem 0;
	background: #fff;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll.m-qw-nav-items{
	width: 10.2rem;
}
.m-qw-nav .item{
	float: left;
	width: 1.7rem;
}

.m-qw-nav.mui-segmented-control.mui-scroll-wrapper{
	height: 2.2rem;
}
.m-qw-nav .item img{
	width: .86rem;
}
.m-qw-nav .item p{
	font-size: .26rem;
	line-height: .6rem;
	color: #444;
	text-align: center;
}
/*测试*/
.m-qw-test {
	background: #fff;
	padding: .1rem;
	margin-bottom: .18rem;
}
.m-qw-test .item{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: .3rem .2rem;
	line-height: .35rem;
}
.m-qw-test .item img{
	width: .5rem;
	margin-top: .1rem;
}
.m-qw-test .item .tit{
	font-size: .3rem;
	color: #444;
}
.m-qw-test .item .desc{
	font-size: .22rem;
	color: #959595;
}
/*活动*/
.m-qw-activity{
	background: #fff;
	padding-bottom: .15rem;
	margin-bottom: .18rem;
}
.m-qw-activity img.mui-media-object.mui-pull-right{
	max-width: 2.32rem;
	width: 2.32rem;
	height: 1.56rem;
}
.m-qw-activity .title{
	font-size: .26rem;
	/*line-height: .36rem;*/
	text-indent: 0.5rem;
}
.m-qw-activity .time{
	color: #959494;
	font-size: .22rem;
	position: absolute;
    padding-left: .26rem;
    line-height: .3rem;
    bottom: .52rem;
}
.m-qw-activity .time i{
	position: absolute;
	width: .19rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) 0 -.36rem no-repeat;
	background-size:2.8rem 1.84rem ;
	left: 0;
	top: .04rem;
}
.m-qw-activity .address{
	width: 4.45rem;
	color: #b37272;
	font-size: .22rem;
	position: absolute;
    padding-left: .26rem;
    line-height: .3rem;
    bottom: .2rem;
}

.m-qw-activity .address i{
	position: absolute;
	width: .19rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) -.26rem -.36rem no-repeat;
	background-size:2.8rem 1.84rem ;
	left: 0;
	top: .04rem;
}
/*.m-qw-activity */
.m-more-btn{
	width: .42rem;
	height: .42rem;
	background: url(../../img/xinimg/icon.png) 0 -.89rem no-repeat;
	background-size:2.8rem 1.84rem ;
	margin: .25rem auto 0;
}
/*国家*/
.m-qw-contury{
	background: #fff;
	padding-bottom: .6rem;
	margin-bottom: .2rem;
}
.m-qw-contury .mui-grid-view.mui-grid-9 .mui-table-view-cell{
	padding: .23rem .15rem;
	background: #fff;
}
.m-qw-contury li .left{
	width: 1.02rem;
	height: .68rem;
}
.m-qw-contury li img{
	width: 100%;
}
.m-qw-contury li .name{
	font-size: .24rem;
	line-height: .3rem;
	margin-bottom: .15rem;
}
.m-qw-contury li .num{
	font-size: .2rem;
	line-height: .2rem;
	position: relative;
	padding-left: .27rem;
}
.m-qw-contury li .num i{
	position: absolute;
	width: .22rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) -.5rem -.36rem  no-repeat;
	background-size: 2.8rem 1.84rem ;
	left: 0;
	top: 0;
	
}
.m-qw-contury .mui-slider{
	overflow: visible;
}
.m-qw-contury .mui-slider-indicator{
	bottom: -.5rem;
}
/*资讯*/
.m-qw-news{
	margin-bottom: .2rem;
}
.m-qw-news img.mui-media-object.mui-pull-left {
    max-width: 2.32rem;
    width: 2.32rem;
    height: 1.56rem;
}

.m-qw-news .title{
	font-size: .26rem;
	line-height: .36rem;
}
.m-qw-news .keywords{
	color: #959494;
	font-size: .22rem;
	position: absolute;
    padding-left: .26rem;
    line-height: .3rem;
    top: 1rem;
}
.m-qw-news .keywords i{
	position: absolute;
	width: .19rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) -.78rem -.37rem no-repeat;
	background-size:2.8rem 1.84rem ;
	left: 0;
	top: .04rem;
}
.m-qw-news .time{
	width: 4.45rem;
	color: #959494;
	font-size: .22rem;
	position: absolute;
    padding-left: .26rem;
    line-height: .3rem;
    bottom: .2rem;
}

.m-qw-news .time i{
	position: absolute;
	width: .19rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) -1rem -.36rem no-repeat;
	background-size:2.8rem 1.84rem ;
	left: 0;
	top: .04rem;
}

.m-qw-news .num{
	width: 1.1rem;
	color: #959494;
	font-size: .22rem;
	position: absolute;
    padding-left: .26rem;
    line-height: .3rem;
    bottom: .2rem;
    right: .1rem;
}

.m-qw-news .num i{
	position: absolute;
	width: .22rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) -.5rem -.36rem no-repeat;;
	background-size:2.8rem 1.84rem ;
	left: 0;
	top: .04rem;
}
/*报道*/
.m-qw-report .m-qw-title{
	padding-left: .6rem;
}
.m-qw-report .m-qw-title i{
	width: .4rem;
}
.m-qw-report .mui-media-object{
	width: 3.49rem;
	height: 2.32rem;
}
.m-qw-report .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	font-size: .28rem;
    line-height: .4rem;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0.1rem;
    text-overflow: ellipsis;
    color: #444;
    text-align: left;
}
.m-qw-report .time{
	width: 1.5rem;
	color: #959494;
	font-size: .2rem;
    padding-left: .26rem;
    line-height: .3rem;
    float: left;
	position: relative;
}
.m-qw-report .time i{
	position: absolute;
	width: .19rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) -1.01rem -.36rem no-repeat;
	background-size:2.8rem 1.84rem ;
	left: 0;
	top: .04rem;
}
.m-qw-report .keywords{
	width: 1.85rem;
	color: #959494;
	font-size: .2rem;
    padding-left: .26rem;
    line-height: .3rem;
    float: left;
	position: relative;
}
.m-qw-report .keywords i{
	position: absolute;
	width: .19rem;
	height: .22rem;
	background: url(../../img/xinimg/icon.png) -.78rem -.37rem no-repeat;
	background-size:2.8rem 1.84rem ;
	left: 0;
	top: .04rem;
}
/*底部*/
.mui-bar-tab.m-qw-footer{
	height: .9rem;
	background: #e6e6e6;
	padding-top: .05rem;
}
.m-qw-footer i{
	width: .4rem;
	height: .4rem;
	display: block;
	margin: 0 auto .05rem;
	background-image:url(../../../assets/images/bottom_icon.png);
	background-size:  .8rem 2rem;
	background-position-x: 0;
	
}
.m-qw-footer p{
	text-align: center;
	font-size: .26rem;
	line-height: .3rem;
	margin-bottom: 0;
}
.m-qw-footer.mui-bar-tab .mui-tab-item.mui-active i{
	background-position-x: -.4rem;
}
.m-qw-footer .mui-tab-item{
	height: auto;
}
.m-qw-footer.mui-bar-tab .mui-tab-item.mui-active p{
	color: #d50000;
}
